*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    width: 100%;
    font-size: 1.5rem;
}

main
{
    height:inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
}

.headerBox
{
    height: 4rem;
    background-color: #3B1E54;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
    position: absolute;
}

.box
{
    margin-top: 4rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    width:50%;
    background-color: #EEEEEE;
    flex-grow: 1;
    padding: 1rem;
    overflow: scroll ;
}

.textDiv
{
    width: 100%;
    display: flex;
    margin-bottom:0.2rem ;
}

.userDiv
{
   justify-content: flex-end;
}
 

.bot
{
    padding: 1rem;
    background-color: #75707a;
    border-radius: 0 1rem 1rem 1rem;
    border: 1px black solid;
}

.user
{
    padding: 1rem;
    background-color: #D4BEE4;
    border-radius:1rem  1rem 0 1rem;
    border: 1px black solid;
}




.inputBox
{
    height: 5rem;
    width: 100%;
    background-color: #EEEEEE;
    display: flex;
    padding: 1rem;
    justify-content: center;
    position: absolute;
    bottom: 0px;
}

input
{
    height:2rem;
    width: 20rem;
    border: none;
    border-radius:1rem 0 0 1rem;
    outline: none;
    padding: 0 0 0 1rem;
}
.sendBtn
{
   height: 75%;
   width:4rem;
   border: none;
   border-radius: 0 1rem 1rem 0;
   background-color: #3B1E54;
   color: white;
   font-weight: 600;
}

.sendBtn:hover
{
   background-color: #28113d;
}


@media screen and (min-width: 300px) and (max-width:480px)
{
    .box
    {
        width: 90%;
    }
}

